.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  background: #145b8f36;
  position: relative;
  min-width: 0;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 8px;
}
.step:global(.__wab_instance) {
  position: relative;
}
